* {
    -fx-primary-bg: #c3cfea;
    -fx-secondary-bg: #2c8599;
    -fx-primary-btn: #c43c5c;
}

.primary-bg {
    -fx-background-color: -fx-primary-bg;
}

Button {
    -fx-background-color: -fx-primary-btn;
    -fx-background-radius: 10 10 10 10;
}

TextField {
    -fx-background-radius: 10 10 10 10;
}

PasswordField {
    -fx-background-radius: 10 10 10 10;
}

.container {
    -fx-background-color: -fx-secondary-bg;
    -fx-background-radius: 10 10 10 10;
}

.table-view .table-cell {
    -fx-font-size: 15px;
}